<!DOCTYPE html>
<html>
<head>
  <title>FinVorkurs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <header>
      <h1>FIN Vorkurs</h1>
    </header>
    <% flash.each do |key, message| %>
      <%= content_tag :div, message, :class => key %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
